/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@font-face {
  font-family: "bloody";
  src: url("./font/BLOODY.ttf") format('truetype');
}


@font-face {
  font-family: "curse_zombie";
  src: url("./font/Curse_of_the_Zombie.ttf") format('truetype');
}

@font-face {
  font-family: "satan";
  src: url("./font/who_asks_satan.ttf") format('truetype');
}

@font-face {
  font-family: "zombie_reborn";
  src: url("./font/ZOMBIES_REBORN.ttf") format('truetype');
}

* {
    box-sizing: border-box;
  }
  
  
  html, body {
    margin: 0px;
  }

  body{
    position: relative;
  }

  header{
    color: red;
    font-family: "bloody", "sans-sherif";
    font-size: 1.3rem;
  }
  
  h1, h2, h3, h4, h5, p {
    text-align: center;
  }
  
  h1{
    font-family: "bloody", sans-serif;
    color: red;
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
    color : #63b8e2;
  }
  
  label {
    margin-right: 10px;
    color: wheat;
    text-align: center;
  }
  
  .error_format{
    height: 0.8em;
    color: red;
  }
  
  .bold{
    font-weight: bold;
  }
  
  
  
  #root{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
  }
  
  .large{
    width: 100%;
  }
  
  .app {
    position: relative;
    display: flex;
  }
  
  
  #title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  #title_container h1{
    z-index: 2;
  }
  
  @keyframes show {
    0%{ bottom: 250px}
    70%{bottom: 30px}
    80%{bottom: 50px}
    85%{bottom: 30px}
    90%{bottom: 40px}
    95%{bottom: 35px}
    100%{bottom: 30px}
  }
  
  #title_container img{
    position: relative;
    bottom: 250px;
    z-index: 1;
    animation: show 0.75s 1s linear forwards;
  }
  
  
  
  #app_container {
    background-color: rgba(0,0,0,0.6);
  }
  
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .wordHidden {
    letter-spacing: 1rem;
  }
  
  .lettre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px;
  }
  
  
  .lettre:hover {
    cursor: pointer;
  }
  
  button {
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  .button_hide_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .lettre--black {
    color: wheat;;
  }
  
  .lettre--red {
    color: red;
  }
  
  .lettre--green {
    color: green;
  }
  
  .block {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
  }
  .block_border {
    border: solid 1px black;
  }
  .block_grow {
    flex-grow: 1;
  }
  .block_row {
    flex-direction: row;
  }
  .block_row--wrap {
    flex-wrap: wrap;
  }
  .block_col {
    flex-direction: column;
  }
  
  .block p:not(.lettre):not(.error_format):not(.modal_text):not(.button_hide_modal){
    color: wheat;
  }
  
  
  .block_col_to_row{
    display: flex;
    flex-direction: column;
  }
  
  #letterList {
    width: 100%;
  }
  
  .modal {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .modal h2{
    color: black;
  }
  
  .modal_success{
    background-color:rgba(0, 0, 0, 0.6);
  }
  
  .modal_error{
    background-color:rgba(0, 0, 0, 0.6);
  }
  
  .modal_victory{
    background-color:rgba(255, 255, 255, 1);
    z-index: 8;
  }
  
  .modal_fail{
    background-color:rgba(255, 255, 255, 1);
    z-index: 8;
  }
  
  
  .modal--hidden {
    display: none;
  }
  .modal--visible {
    display: flex;
  }
  
  .modal_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    padding: 25px;
    z-index: 10;
  }

  
  
  .modal_container--small{
    width: 40%;
  }
  
  .modal_container--big{
    width: 100%;
    height: 100%;
  }
  
  .modal_container--success {
    background-color: #9eee9e;
  }
  .modal_container--victory {
    background-color: #9eee9e;
  }
  .modal_container--error {
    background-color: #f57168;
  }
  .modal_container--fail {
    background-color: #f57168;
  }


  .modal_container--error img{
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  
  .modal div div p {
    margin: 5px;
    color: black;
  }
  
  .input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  
  }
  
  .input_container input{
    width: 60%;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    color: black;
    font-weight: bold;
  }
  
  
  button{
    border: 1px solid;
    background-color: black;
    color: wheat;
    font-weight: bold;
  }
  
  @media screen and (min-width: 550px){
    
    #letterList {
      width: 150px;
    }
  
    .lettre {
      width: 50%;
    }
  
    .block_col_to_row{
      flex-direction: row;
    }
  }
  